#BoardofDirectors .page-header {
    background-image: url(../Assets/Headers/Frame\ 8.png);
}
.Board-of-directors-main-container{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    border: 1px solid rgba(0, 46, 97, 0.3);
    border-radius: 10px;
    padding: 0;
}
.Board-of-directors-main-container h3{
    color: var(--secondary-color);
    font-size: 1.5rem;
}
.Board-of-directors-main-container h5{
    font-size: 1.2rem;
}
.Board-of-directors-main-container div {
    padding: 2rem;
}
.Board-of-directors-main-container picture{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 46, 97, 0.05);   
}

.Board-of-directors-sub-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 3rem;
}
.Board-of-directors-sub-container div{
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: white;
    border: 1px solid rgba(0, 46, 97, 0.3);
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
}
.Board-of-directors-sub-container div h2 {

    font-size: 1.2rem;
}
.Board-of-directors-sub-container div h3 {
    color: var(--secondary-color);
    font-size: 1rem;
}

.Board-of-directors-last-section{
    padding-top: 2rem;
    padding-bottom: 3rem;
    background: rgba(0, 46, 97, 0.05);
    margin-top: 3rem;
}
.Board-of-directors-main-container h2{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.Board-of-directors-main-container h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.Board-of-directors-main-container h5{
    font-size: 1.3rem;
    
}
.arabic-version .Board-of-directors-main-container h5{
    font-size: 1.2rem;
}
.Board-of-directors-main-container p{
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: #000000;
}
.arabic-version .Board-of-directors-main-container p{
    font-size: 1rem;
}
.Board-of-directors-sub-container div h2{
    font-size: 1.3rem;
}
.Board-of-directors-sub-container div h3{
    font-size: 1.1rem;
    font-family: Cairo-SemiBold;
}

.arabic-version .Board-of-directors-main-container h3{
    font-family: Cairo-Bold;
    letter-spacing: -1px;
}
.Board-of-directors-last-section h2{
    font-size: 1.6rem;
}
.Board-of-directors-main-container p {
    font-family: Cairo-SemiBold;
}
.Board-of-directors-sub-container div h3{
    line-height: 2rem;
}
@media (max-width:990px) {
    .Board-of-directors-main-container{
        grid-template-columns: 1fr;
    }
    .Board-of-directors-sub-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .Board-of-directors-main-container img{
        width: 45%;
    }
}
@media (max-width:767px) {
   
    .Board-of-directors-sub-container{
        grid-template-columns: 1fr ;
    }
    .Board-of-directors-main-container picture img{
      width: 100%;
    }
}