#Complaints .page-header {
    background-image: url(../Assets/Headers/Group\ 248.png);
  }
.contact-box span a{
    font-family: Cairo-SemiBold;
  }
#Complaints label{
    font-family: Cairo-SemiBold !important;
  }
#Complaints .contact-details-container p{
    line-height: 1.8rem;
  }