#ContactUs .page-header{
    background-image: url(../Assets/Headers/contactus.png);
}
.location-cards button svg {
    height: 25px;
    width: 25px;
}
.location-cards button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
   
}
.location-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.location-cards iframe{
    width: 100%;
    height: 225px;
}
.location-card svg{
    width: 25px;
    height: 25px;
    fill: var(--main-color);
    
}
.location-card {
   border: 1px solid rgba(0, 46, 97, 0.25);
   border-radius: 5px;
}
.contactUs-location-card-box{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 10px;
}
.contactUs-location-card-box p{
    margin-bottom: 0;
    color: var(--main-color);
}
.location-card-content{
    padding: 1rem;
}
.contactUS-last-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 20px;
    margin-top: 5rem;
}
.contactUs-blueBox{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1a4572;
    background-image: url(../Assets/Img/Rectangle\ 348.png);
    background-size: cover;
    padding: 4rem;
    border-radius: 10px;
}
.contactUs-blueBox h2{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.contactUs-blueBox p{
    color: white;
    text-align: center;
    
    
}
.contactUs-blueBox h3{
    color: var(--secondary-color);
    margin-bottom: 1.2rem;
    font-size: 1rem;
    font-family: Cairo-light;
}
.contactUs-blueBox button{
    color: var(--main-color);
    background-color: white;
    margin-top: 2rem;
}
.contactUS-last-container p {
    color: rgba(51, 51, 51, 0.5);
}
.contactUS-last-container ul li {
    color: var(--main-color);
    margin-bottom: 0.3rem;
}
.contactUS-last-container ul li::marker{
    font-size: 1.4rem;
}
.contactUS-last-container a{
    color: var(--secondary-color);
}

.location-card .secondary-btn:hover svg{
    fill: white;
}
.location-card h2{
    font-size: 1.6rem;
    margin: 1rem 0rem 1.5rem 0;
}
.contactUs-location-card-box p{
    font-family: Cairo-SemiBold;
}
.location-card .secondary-btn{
    margin-top: 0.7rem;
}
.contactUS-last-container h2{
    font-size: 1.5rem;
}
.contactUS-last-container p{
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-family: Cairo-SemiBold;
}
.contactUS-last-container ul li{
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-family: Cairo-SemiBold
}
.contactUs-blueBox p{
    color: #ffffff;
    font-family: Cairo-SemiBold
}
.contactUs-blueBox button{
    font-family: Cairo-SemiBold;
    padding: 0.6rem 2rem;
    font-size: 1.1rem;
}
#ContactUs form h5{
    font-size: 1.6rem;
}
#ContactUs .ourPartnersInner-form-container h2{
    font-size: 1.6rem;
}
#ContactUs .ourPartnersInner-form-container h3{
    font-size: 1.6rem;
}
#ContactUS .ourPartnersInner-form-section p{
    font-family: Cairo-SemiBold;
    line-height: 1.6rem;
    color: #333333;
}
.contact-box span{
    font-size: 1.1rem;
}
.contact-box-header{
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}
.arabic-version .location-card h2{
    font-size: 1.5rem;
}
.arabic-version .contactUS-last-container h2{
    font-size: 1.4rem;
}
.contact-box{margin-bottom: 0.7rem;}

.ourPartnersInner-form-section p{
    color: #333333;
}
.contactUs-blueBox h2 {
    font-size: 1.6rem;
}
.contactUs-blueBox h3 {
    font-size: 1.3rem;
    font-family: Cairo-SemiBold;
}
.contact-box-header {
    font-size: 1.4rem !important;
}
@media (max-width:990px) {
    .contactUS-last-container{
        grid-template-columns: 1fr;
    }
    .location-cards {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:767px) {
    .location-cards {
        grid-template-columns: 1fr ;
    }
}