#Feedback .page-header {
    background-image: url(../Assets/Headers/Group\ 248.png);
  }

.Feedback-main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.contact-details-container{
    border: 1px solid rgba(0, 46, 97, 0.3);
    padding: 2rem;
    border-radius: 5px;
}
#Feedback .contact-details-container p{
    margin-top: 2rem;
}
#Feedback .contact-details-container ul {
    margin-top: 2rem;
    padding-inline-start: 1rem;
}
#Feedback .contact-details-container ul li{
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
    font-family: Cairo-SemiBold;
    margin-bottom: 1rem;
}
#Feedback .radio-box{
    gap: 20px;
}
#Feedback .radio-box span{
    font-size: 1rem;
}
#Feedback form{
    padding: 1rem;
    background-color: rgba(0, 46, 97, 0.05);
}
#Feedback form input,
#Feedback form select,
#Feedback form textarea{
    background-color: white;
}


#Feedback .radio-box{
    margin-bottom: 1rem;
}


 .Feedback-main-container h2{
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
 .contact-details-container .contact-box span{
    font-family: Cairo-SemiBold;
}
 .contact-details-container p{
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-family: Cairo-SemiBold;
    color: #333333;
}
.moreInfo-box{
    margin-top: 1rem;
    font-size: 0.9rem;
}
#Feedback form input[type="file"]{
    font-size: 0.9rem;
}
#Feedback form div .main-btn{
    font-size: 1.1rem;
    font-family: Cairo-SemiBold;
}
#Feedback form .secondary-btn{
    font-size: 1.1rem;
}
#Feedback form label{
    font-family: Cairo-Bold;
}
#Feedback form h2{
    margin-top: 1rem;
}
#Feedback .contact-details-container {
    line-height: 1.8rem;
}
.arabic-version #Feedback form div .main-btn{
    font-size: 1rem;
}
@media (max-width:990px) {
    .Feedback-main-container{
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 1fr; */
    }
}
.contact-box span a{
text-decoration: none;
color: inherit;
word-break: break-all;
}

@media (max-width:575px){
    .contact-details-container {
    padding: 1rem .5rem;
    }
}