#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  /* position: relative; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.arabic-version #cssmenu.small-screen ul ul,
.arabic-version #cssmenu.small-screen ul ul ul,
.arabic-version #cssmenu.small-screen.align-right ul ul {
  right: 0;
}

/* #cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
} */
#cssmenu #menu-button {
  display: none;
}

#cssmenu > ul > li {
  display: inline-block;
  position: relative;
}
@media (min-width: 1200px) {
  #cssmenu > ul > li {
    display: flex;
    height: 100%;
  }
}
/*#cssmenu > ul > li a.active:before{ position:absolute; content:''; height:2px; width:100%; right:0px; background-color:#DD2C2C; bottom:8px;}
#cssmenu > ul > li:last-child:after,#cssmenu > ul > li.noborder:after{ display:none;}*/
#cssmenu > ul > li a:hover:before {
  position: absolute;
  transition: all 0.3s ease-out;
  content: "";
  height: 8px;
  width: 100%;
  right: 0px;
  background-color: #c9ac80;
  bottom: 0rem;
}

#cssmenu > ul > li a.active:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 100%;
  right: 0px;
  background-color: #c9ac80;
  bottom: 0rem;
}
#cssmenu > ul > li a.active ul:hover a::before {
  display: none;
}
/* @media (max-width: 1400px) {
  #cssmenu > ul > li a:hover:before,
  #cssmenu > ul > li a.active:before {
    bottom: -1.84rem;
  }
} */
/* @media (max-width: 1250px) {
  #cssmenu > ul > li a:hover:before,
  #cssmenu > ul > li a.active:before {
    bottom: -1.1rem;
  }
} */
body.arabic-version #cssmenu > ul > li:hover:before {
  left: 0px;
}
#cssmenu > ul > li a.active {
  color: #f1f1f1;
}

#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 1.75rem 0px;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  margin: 0px 10px;
  font-weight: 500;
}
#cssmenu.upper > ul > li > a {
  padding: 1rem 0px;
}
#cssmenu > ul > li:hover > a {
  color: #c9ac80;
}
#cssmenu li:hover > ul > li a:before {
  display: none;
}
/*#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}*/
/* #cssmenu > ul > li.has-sub > a:after {
  content: "";
  margin-left: 3px;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 5px solid #4B7DAA;

  margin-left: 4px;
  position: relative;
  top: 2px;
  right: 0px;
  display: inline-block;
  font-weight: 900;
  content: "\f107";
  font-family: "Font Awesome 5 Pro";
  font-weight: normal;
  display: inline-block;
} */
#cssmenu > ul > li.has-sub:hover > a:after {
  transform: rotate(180deg);
}

body.arabic-version #cssmenu > ul > li.has-sub > a::after {
  margin-left: 0px;
  margin-right: 4px;
}

/*#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}*/

@media (max-width:1199px){
  #cssmenu ul  {
    box-shadow: 0 3px 12px 0px rgba(0, 0, 0, 0.08);
  }
}
#cssmenu ul ul {
  position: absolute;
  inset-inline-start: -9999px;
  background-color: #fff;
  z-index: 999;
  border-radius: 0px;
  top: 100%;
}


#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#cssmenu ul ul {
  border-top: 5px solid #c9ac80;
}

#cssmenu ul ul > li.has-sub:hover::after {
  position: absolute;
  content: "";
  width: 1px;
  height: calc(100% + 2px);
  top: 0;
  inset-inline-end: -2px;
  z-index: 5000;
  background: #002e6140;
}
#cssmenu > ul > li.has-sub > ul > li:hover ul {
  border-top: unset;
}

/* #cssmenu >ul> li.has-sub >ul > li { */

#cssmenu > ul > li.has-sub > ul > li.has-sub > ul > li a {
  min-width: max-content;
}

/* #cssmenu >ul> li.has-sub> ul> li.has-sub > ul {
  border-top: 5px solid #C9AC80;
} */
#cssmenu ul ul li:last-child a {
  border-radius: 0 0 5px 5px;
}
#cssmenu ul ul li:first-child a {
  border-radius: 5px 5px 0px 0px;
}

#cssmenu li:hover > ul {
  inset-inline-start: auto;
}

#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: auto;
}
#cssmenu ul ul ul {
  margin-inline-start: 100%;
  top: -5px;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  border-bottom: none;
  padding: 0.85rem 10px;
  padding-inline-end: 1.5rem;
  width: 210px;
  font-size: 12px;
  text-decoration: none;
  color: #333;
  background: #fff;
  text-align: left;
  border-left: 5px solid #fff;
  line-height: 1.4;
  border-bottom: 1px solid #002e6140;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}

/* #cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #1b1b1b;
  content: "";
} */
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
/* #cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #1b1b1b;
  content: "";
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
} */
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
@media (min-width: 1200px) {
  #cssmenu ul ul:hover {
    border-top: 5px solid transparent;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #002e61;

    background: linear-gradient(
      90deg,
      rgba(201, 172, 128, 0.3) 0%,
      rgba(201, 172, 128, 0) 100%
    );
    border-left: none;
    border-inline-start: 5px solid #c9ac80 !important;
  }
.arabic-version  #cssmenu ul ul li:hover > a,
.arabic-version  #cssmenu ul ul li a:hover {
    color: #002e61;
    background: linear-gradient(
      270deg,
      rgba(201, 172, 128, 0.3) 0%,
      rgba(201, 172, 128, 0) 100%
    );
    border-left: none;
    border-inline-start: 5px solid #c9ac80 !important;
  }
  #cssmenu > ul > li.has-sub > ul > li:hover ul {
    border-top: 5px solid #c9ac80;
  }
  #cssmenu > ul > li.has-sub > ul > li.has-sub > ul > li {
    border-bottom: 1px solid #002e6140;
  }
  #cssmenu > ul > li.has-sub > ul li ul li:hover > a,
  #cssmenu > ul > li.has-sub > ul li ul a:hover {
    border-inline-start: 5px solid rgba(201, 172, 128, 0.3) !important;
  }
}

#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen ul {
  width: 100%;
  display: none;
}
#cssmenu.small-screen.align-center > ul {
  text-align: left;
}
#cssmenu.small-screen ul li {
  width: 100%;
  border-top: 1px solid rgba(120, 120, 120, 0.2);
}
#cssmenu.small-screen ul ul li,
#cssmenu.small-screen li:hover > ul > li {
  height: auto;
}
#cssmenu.small-screen ul li a,
#cssmenu.small-screen ul ul li a {
  width: 100%;
  border-bottom: 0;
}
#cssmenu.small-screen > ul > li {
  float: none;
}
#cssmenu.small-screen ul ul li a {
  padding-left: 25px;
}
#cssmenu.small-screen ul ul ul li a {
  padding-left: 35px;
}
#cssmenu.small-screen ul ul li a {
  color: #002e61;
  background: none;
}
#cssmenu.small-screen ul ul li:hover > a,
#cssmenu.small-screen ul ul li.active > a {
  color: #002e61;
}
#cssmenu.small-screen ul ul,
#cssmenu.small-screen ul ul ul,
#cssmenu.small-screen.align-right ul ul {
  position: relative;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: left;
}
#cssmenu.small-screen > ul > li.has-sub > a:after,
#cssmenu.small-screen > ul > li.has-sub > a:before,
#cssmenu.small-screen ul ul > li.has-sub > a:after,
#cssmenu.small-screen ul ul > li.has-sub > a:before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 10px;
  color: #1b1b1b;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  z-index: 99;
  position: absolute;
  top: 25%;
  inset-inline-end: 4vw;
  margin-inline: 0;
  background: transparent;
  width: 35px;
  height: 35px;
}
#cssmenu.small-screen:not(.upper) #menu-button {
  top: 33%;
  inset-inline-end: 0;
}
#cssmenu.small-screen #menu-button:after {
  position: absolute;
  top: 16px;
  right: 10px;
  display: block;
  height: 8px;
  width: 15px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  content: "";
}
#cssmenu.small-screen #menu-button:before {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  height: 2px;
  width: 15px;
  background: #000;
  content: "";
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  top: 15px;
  border: 0;
  height: 2px;
  width: 17px;
  background: #000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: -1px;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  top: 15px;
  background: #000;
  width: 17px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-right: -1px;
}
#cssmenu.small-screen .submenu-button {
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  display: block;
  border-left: 1px solid rgba(120, 120, 120, 0.2);
  height: 46px;
  width: 46px;
  cursor: pointer;
}
#cssmenu.small-screen .submenu-button.submenu-opened {
  background: #fff;
}
#cssmenu.small-screen ul ul .submenu-button {
  height: 34px;
  width: 34px;
}
#cssmenu.small-screen .submenu-button:after {
  position: absolute;
  top: 22px;
  right: 19px;
  width: 8px;
  height: 2px;
  display: block;
  background: #1b1b1b;
  content: "";
}
#cssmenu.small-screen ul ul .submenu-button:after {
  top: 50%;
  /* right: 13px; */
  right: 50%;
}
#cssmenu.small-screen .submenu-button.submenu-opened:after {
  background: #1b1b1b;
}
#cssmenu.small-screen .submenu-button:before {
  position: absolute;
  top: 19px;
  right: 22px;
  display: block;
  width: 2px;
  height: 8px;
  background: #1b1b1b;
  content: "";
}
#cssmenu.small-screen ul ul .submenu-button:before {
  top: 12px;
  right: 16px;
}
#cssmenu.small-screen .submenu-button.submenu-opened:before {
  display: none;
}
#cssmenu.small-screen.select-list {
  padding: 5px;
}
.showmob-link {
  display: none !important;
}

body.arabic-version #cssmenu > ul > li.has-sub > a::after {
  margin-left: 0px;
  margin-right: 4px;
}
body.arabic-version #cssmenu ul ul li a {
  border-left: none;
  border-right: none;
  text-align: right;
}
@media (max-width: 1200px) {
  #cssmenu li a:hover {
    background: linear-gradient(
      90deg,
      rgba(201, 172, 128, 0.3) 0%,
      rgba(201, 172, 128, 0) 100%
    ) !important;
    border-inline-start: 5px solid #c9ac80 !important;
  }
  body.arabic-version #cssmenu ul li:hover > a,
  body.arabic-version #cssmenu ul li a:hover {
    background: linear-gradient(
      270deg,
      rgba(201, 172, 128, 0.3) 0%,
      rgba(201, 172, 128, 0) 100%
    );
    border-inline-start: 5px solid #c9ac80 !important;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1500px) {
}
@media only screen and (min-width: 1301px) and (max-width: 1400px) {
  #cssmenu > ul > li > a {
    padding: 10px 0px;
    font-size: 12px;
    margin: 0px 6px;
  }
}
@media only screen and (min-width: 1199px) and (max-width: 1300px) {
  #cssmenu > ul > li > a {
    padding: 10px 0px;
    font-size: 12px;
    margin: 0px 5px;
  }
}
@media only screen and (max-width: 1199px) {
  #cssmenu.small-screen > ul {
    height: 40vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1199px) {
  #cssmenu > ul > li > a {
    padding: 10px 0px;
    font-size: 10px;
    margin: 0px 3px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #cssmenu {
    background: #fff !important;
  }
  #cssmenu {
    background: #fff;
  }
  #cssmenu > ul > li > a {
    padding: 15px 17px;
    color: #002e61 !important;
    font-size: 14px;
    margin: 0;
  }
  #cssmenu ul ul {
    border-top: 0px solid #e9931a;
    margin: 0;
  }
  .col-md-8.col-lg-8.topbar_bottm {
    padding-left: 15px;
  }

  #cssmenu.small-screen > ul {
    background: #fff;
    z-index: 99;
    left: 5vw;
    width: calc(100% - 10vw);
    position: absolute;
    top: 4.95rem;
    text-align: left;
  }

  #cssmenu.small-screen:not(.upper) > ul {
    width: calc(100%);
    left: 0;
    top: calc(100% + 2px);
  }
  #cssmenu > ul > li::after {
    display: none;
  }
  .showmob-link {
    display: block !important;
  }
  #cssmenu > ul > li:hover:before {
    width: 100%;
    left: 0;
    display: none;
  }
  body.arabic-version #cssmenu.small-screen ul li {
    text-align: right;
  }
  body.arabic-version #cssmenu.small-screen .submenu-button {
    right: inherit;
    left: 0px;
    border-left: 0px solid rgba(120, 120, 120, 0.2);
    border-right: 1px solid rgba(120, 120, 120, 0.2);
  }
  body.arabic-version #cssmenu ul ul li a {
    text-align: right;
  }
  body.arabic-version #cssmenu.small-screen ul ul li a {
    padding-right: 25px;
    padding-left: 5px;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
  }
  body.arabic-version #cssmenu ul ul li:hover > a,
  body.arabic-version #cssmenu ul ul li a:hover {
    background: linear-gradient(
      90deg,
      rgba(201, 172, 128, 0.3) 0%,
      rgba(201, 172, 128, 0) 100%
    );

    border-inline-start: 5px solid #c9ac80 !important;
  }
  #cssmenu ul ul li a {
    font-size: 13px;
  }
  #cssmenu > ul > li a:hover::before,
  #cssmenu > ul > li a.active::before {
    display: none;
  }
  #cssmenu > ul > li a.active:before {
    display: none !important;
  }
  /* body.arabic-version #cssmenu.small-screen #menu-button {
    right: inherit;
    left: 0px;
  } */
}
@media only screen and (max-width: 767px) {
  #cssmenu {
    background: #fff !important;
  }
  #cssmenu {
    background: #fff;
  }
  #cssmenu > ul > li > a {
    padding: 15px 17px;
    color: #002e61 !important;
    font-size: 14px;
    margin: 0;
  }
  #cssmenu ul ul {
    border-top: 0px solid #e9931a;
    margin: 0;
  }
  .col-md-8.col-lg-8.topbar_bottm {
    padding-left: 15px;
  }
  #cssmenu.small-screen ul ul li:hover > a,
  #cssmenu.small-screen ul ul li.active > a {
    color: #002e61;
  }
  #cssmenu.small-screen > ul {
    background: #fff;
    z-index: 99;
    position: absolute;
    top: calc(100% + 2px);
    text-align: left;
    left: 5vw;
    width: calc(100% - 10vw);
  }
  #cssmenu.small-screen:not(.upper) > ul {
    width: calc(100%);
    left: 0;
  }
  #cssmenu > ul > li::after {
    display: none;
  }
  .showmob-link {
    display: block !important;
  }
  #cssmenu > ul > li:hover:before {
    width: 100%;
    left: 0;
    display: none;
  }
  body.arabic-version #cssmenu.small-screen ul li {
    text-align: right;
  }
  body.arabic-version #cssmenu.small-screen .submenu-button {
    right: inherit;
    left: 0px;
    border-left: 0px solid rgba(120, 120, 120, 0.2);
    border-right: 1px solid rgba(120, 120, 120, 0.2);
  }
  body.arabic-version #cssmenu ul ul li a {
    text-align: right;
  }
  body.arabic-version #cssmenu.small-screen ul ul li a {
    padding-right: 25px;
    padding-left: 5px;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
  }
  body.arabic-version #cssmenu ul ul li:hover > a,
  body.arabic-version #cssmenu ul ul li a:hover {
    background: linear-gradient(
      90deg,
      rgba(201, 172, 128, 0.3) 0%,
      rgba(201, 172, 128, 0) 100%
    );

    border-inline-start: 5px solid #c9ac80 !important;
  }
  #cssmenu ul ul li a {
    font-size: 13px;
  }
  #cssmenu > ul > li a:hover::before,
  #cssmenu > ul > li a.active::before {
    display: none;
  }
  #cssmenu > ul > li a.active:before {
    display: none !important;
  }
  /* body.arabic-version #cssmenu.small-screen #menu-button {
    right: inherit;
    left: 1.5rem;
  } */
}

#cssmenu .head_btm_menu {
  text-align: center;
}

@media (max-width: 575px) {
  #cssmenu.small-screen #menu-button {
    top: 20%;
  }
  #cssmenu.small-screen:not(.upper) #menu-button {
    inset-inline-end: 1rem;
    top: 22%;
  }
  #cssmenu.small-screen > ul {
    /* top: 0; */
    width: 100%;
    left: 0;
  }
}
