
#NewsAndEvent .page-header {
  background-image: url(../Assets/Headers/Group\ 256.png);
}
.Blogs-Cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
  .Blogs-card {
    padding: 1rem;
    border-radius: 10px;
    /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05), 0 15px 30px rgba(0, 0, 0, 0.05); */
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: rgba(0, 46, 97, 0.3) solid 1px;
  }
  .blogs-card-main-img {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .Blog-date {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  #Required-Documents .Blog-date {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  #Required-Documents .Blog-date p {
    margin: 0;
    color: var(--secondary-color);
    
  }
  .Blog-date svg {
    width: 25px;
    height: 25px;
    fill: var(--secondary-color);
  }
  .Blogs-card h2 {
    color: var(--main-color);
    font-size: 1.2rem;
    text-align: start;
    margin-top: 0;
    min-height: 4.5rem;
    line-height: 1.4rem;
  }
  .Blogs-card p {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: start;
    margin-top: 1rem;
    color: rgba(51, 51, 51, 0.5);
    font-family: Cairo-SemiBold;
  }
  .Blogs-card a {
    font-size: 1rem;
    color: var(--secondary-color);
    /* position: absolute; */
    bottom: 2rem;
    font-family: Cairo-bold;
  }
  .readmore-arrow {
    width: 20px;
  }
  .arabic-version {
    .readmore-arrow {
      transform: rotate(180deg);
    }
  }

  .Blogs-card .secondary-btn{

    padding: 0.65rem 1.5rem;
    font-size: 1rem;
    margin-bottom: .5rem;
    font-family: Cairo-SemiBold;
  }
  .Blog-date p {
    color: #C9AC80 ;
  }
  .Blogs-card h2{
    line-height: 1.6rem;
  }
@media (max-width:1200px) {
  .Blogs-Cards{
    grid-template-columns: 1fr 1fr ;
}
}

@media (max-width:767px) {
    .Blogs-Cards{
        grid-template-columns: 1fr ;
    }
}