#OurPartners .page-header {
    background-image: url(../Assets/Headers/Group\ 245.png);
  }

.partner-cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.partner-card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    border: rgba(0, 46, 97, 0.3) solid 1px;
    padding: 1rem;
    border-radius: 5px;
}
.partner-card img {
    width: 100%;
    border-radius: 5px;
}
.partner-card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.partner-card-content h5 {
    min-height: 40px; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1.5rem;
}
.partner-card-content svg {
    width: 25px;
    height: 25px;
}
.partner-location-box {
    color: var(--secondary-color);
    fill: var(--secondary-color);
    gap: 10px;
    padding-bottom: 2rem ;
}
.partner-location-box img{
width: 30px;
height: 30px;
}
.partner-location-box p {
    margin-bottom: 0;
    font-size: 1.1rem;
}
.partner-card a
{
    text-decoration: none;
    font-size: 1rem;
    padding: 0.6rem 1.75rem;
    margin-bottom: 1rem;
    font-family: Cairo-SemiBold;
}
#OurPartners form{
    border: none;
    padding: 2rem 0;
}
#OurPartners form select{
    background-color: rgba(0, 46, 97, 0.05);
}

@media (max-width:990px) {
    .partner-cards-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:767px) {
    .partner-cards-container{
        grid-template-columns: 1fr 1fr;
    }
}
