#OurPartnersInner .page-header{
    background-image: url(../Assets/Headers/Group\ 245.png);
}

.ourPartnersInner-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.ourPartnersInner-container svg{
    width: 25px;
    height: 25px;
    fill: var(--main-color); 
}
.ourPartnersInner-container p{
   color:  var(--main-color); 
}
.project-details-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.project-details-box{
    display: flex;
    justify-content: space-between;
}
.project-details-box div {
    display: flex;
    align-items: center;
    gap: 20px;
}
.project-details-box   p{
    margin-bottom: 0;
}
.project-details-box{
    background-color: rgba(0, 46, 97, 0.05);
    border: 1px solid rgba(0, 46, 97, 0.3);
    border-radius: 10px;
    padding: 1rem;
    align-items: center;
    gap: 10px;
}
#OurPartnersInner h2{
    margin-bottom: 2rem;
}
.project-overview p{
    text-align: justify;
    width: 95%;
}
.PhotoandVideoGallery-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.PhotoandVideoGallery-container div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.PhotoandVideoGallery-container div img {
    width: 100%;
    border-radius: 10px;
}
.PhotoandVideoGallery-container iframe{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
#OurPartnersInner h2{
    font-size: 1.6rem;
}
.project-overview p{
    font-family: Cairo-SemiBold;
    color: #333333;
}
.ourPartnersInner-form-section h3{
    font-size: 1.6rem;
}
.ourPartnersInner-form-section p{
    font-family: Cairo-SemiBold;
    color: #333333;
    line-height: 1.6rem;
}
#OurPartnersInner form h5{
    font-size: 1.6rem;
}
#OurPartnersInner .page-header h2{
    font-size: 40px;
}
.arabic-version #OurPartnersInner .page-header h2{
    font-size: 36px;
}
.arabic-version #OurPartnersInner .ourPartnersInner-form-container form h5 {
    font-size: 1.5rem;
}
.arabic-version #OurPartnersInner .ourPartnersInner-form-container h2 {
    font-size: 1.5rem;
}
.arabic-version #OurPartnersInner .ourPartnersInner-form-container h3 {
    font-size: 1.5rem;
}
.arabic-version .ourPartnersInner-form-section p{
    line-height: 1.7rem;
}
.picture-overlay-container {
    position: relative;
    display: inline-block;
}

.overlay {
    content: "+4";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Transparent dark layer */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    display: none !important;
}

.PhotoandVideoGallery-container div a {
    display: none;
}

.PhotoandVideoGallery-container div a:nth-child(1),
.PhotoandVideoGallery-container div a:nth-child(2),
.PhotoandVideoGallery-container div a:nth-child(3),
.PhotoandVideoGallery-container div a:nth-child(4) {
    display: block;
}

.PhotoandVideoGallery-container div a:nth-child(4) .overlay {
    display: flex !important; 
}

@media (max-width:990px) {
    .ourPartnersInner-container{
        grid-template-columns: 1fr;
    }
    .PhotoandVideoGallery-container{
        grid-template-columns: 1fr;
    }
    .PhotoandVideoGallery-container iframe{
        height: 350px;
    }
    .project-overview p{
        width: 100%;
    }
    .ourPartnersInner-form-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (max-width:767px) {
    .project-details-container{
        grid-template-columns: 1fr;
    }
    
}


