#Research-Reports .page-header{
    background-image: url(../Assets/Headers/searchreports.png);
}
#Required-Documents .MW-report-result-card-content a{
    padding: 0.5rem 2rem;
    font-family: Cairo-SemiBold;
}