#Services .page-header {
  background-image: url(../Assets/Headers/Group\ 245.png);
}
.services-main-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.services-main-section {
  margin-bottom: 3rem;
}

.services-main-section img {
  width: 100%;
}
.services-main-section h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.services-main-section h2 + p {
  color: #333333;
  font-family: "Cairo-SemiBold";
  line-height: 22px;
}
.arabic-version .services-main-section h2 + p {
  font-family: "Cairo-SemiBold";
  letter-spacing: -0.1px;

}
.services-main-section h3 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  color: var(--secondary-color);
  margin-top: 1.5rem;
  font-family: Cairo-Bold;
}
.services-main-section a {
  text-decoration: none;
  padding-block: .8rem;
  margin-top: 1.5rem;
}
.services-main-section  .secondary-btn{
margin-inline-end: 1rem;
}
.services-main-section a{
  padding: 0.3rem 2.5rem;
  font-size: 1.1rem;
  font-family: Cairo-SemiBold;
}
.services-main-section ul li {
  font-family: "Cairo-SemiBold";
  position: relative;
  font-size: 1.15rem;
  margin-bottom: 0.9rem;
}
.services-main-section ul  {
    list-style: none;
padding-inline-start: 2rem;
}
.services-main-section ul:last-of-type{
  padding-bottom: .5rem;
}

.arabic-version .services-main-section ul li {
  font-family: "Cairo-SemiBold";
  font-size: 1.1rem;
  letter-spacing: -0.1px;

}
.services-main-section ul li::before {
    content: "";
    position: absolute;
    inset-inline-start: -1.35rem;
    top: 0.35rem;
    border-radius: 100%;
    width: 0.65rem;
    height: 0.65rem;
    background: var(--main-color);
}

#Services .MW-Research-Reports-section {
  background-color: rgba(0, 46, 97, 0.05);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.MW-Research-Reports-section .container h3 {
  font-size: 1.6rem;
}

#Services .MW-report-result-card-content a {
  padding: 0.5rem 2.5rem;
}
.services-topic h2 {
  font-size: 1.6rem;
}
.services-main-section p {
  font-family: Cairo-SemiBold;
  line-height: 1.7rem;
  color: #333333;
}

.services-main-section ul li{
  color: #333333;
  font-size: 1.1rem;
}
#Services .MW-report-result-card-content{
  background-color: white;
  margin-top: unset !important;
  padding-top: 4rem !important;
}

@media (max-width: 768px) {
  .services-main-section .container {
    grid-template-columns: 1fr;
  }
  .services-main-section img {
    margin-bottom: 3rem;
  }
}

