#StockScreening .page-header {
  background-image: url("../Assets/Headers/Group\ 407.png");
}

.chart-container {
  margin-inline: auto;
  max-width: 80%;
}

#StockScreening label {
  min-height: 40px;
  padding-inline-start: 1.5rem;
  display: flex;
  color: var(--accordion-button-background-color);
  align-items: center;
}

.historical-prices-btn button:hover {
  color: var(--accordion-button-background-color);
  transition: all 0.3s ease-out;
  background: transparent;
}
.historical-prices-btn button {
  transition: all 0.3s ease-out;
  width: 100%;
  min-height: 38px;
  outline: none;
  background: var(--accordion-button-background-color);
  color: #fff;
  border: 1px solid var(--accordion-button-background-color);
  border-radius: 45px;
  align-self: flex-end;
}

.chart-container select {
  appearance: none;
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
  background-image: url("../Assets/Icons/down-arrow\ 1.png");
  border-radius: 45px;
  color: #01518480;
  padding-inline-start: 1rem;
  background-color: transparent;
  min-height: 45px;
  width: 100%;
  border: 1px solid #0151844d;
}
#StockScreening input::placeholder {
  color: #01518480;
}
#StockScreening input:focus-visible,
#StockScreening input:focus-within,
#StockScreening input:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--accordion-button-background-color);
}
#StockScreening input {
  border-radius: 45px;
  color: var(--accordion-button-background-color);
  padding-inline-start: 1rem;
  background-color: transparent;
  min-height: 45px;
  width: 100%;

  border: 1px solid #0151844d;
}
.chart-container option {
  color: var(--accordion-button-background-color);
}
.arabic-version .chart-container select {
  background-position: 1rem center;
}
.chart-container select:focus-visible,
.chart-container select:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid var(--accordion-button-background-color);
}
label {
  color: var(--accordion-button-background-color);
}

.historical-prices-btn.chart-price {
  max-width: max-content;
  padding-block: 2rem;
}
.historical-prices-btn.chart-price button {
  padding: 0.5rem 3rem;
}

@media (max-width: 767px) {
  .chart-container {
    max-width: 100%;
  }
}
@media (max-width: 575px) {
  .chart-price-overlays-container {
    display: flex;
    gap: 1rem;
    row-gap: 1rem;
    flex-wrap: wrap;
  }
}
