#Testimonials .page-header {
    background-image: url(../Assets/Headers/Group\ 249.png);
  }
 .arabic-version #Testimonials .page-header {
    background-image: url(../Assets/Headers/Group\ 249-ar.png);
  }
.Testimonials-cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.Testimonials-card{
   border: 1px solid rgba(0, 46, 97, 0.25);
   border-radius: 5px;
   display: flex;
   flex-direction: column;
    justify-content: space-between;
}
.Testimonials-card-header {
    background: 
     linear-gradient(180deg, #002E61 0%, #2F5681 112.57%),
        url(../Assets/Img/testimonials-background.png);
    background-blend-mode: overlay;
    height: 100px;
    width: 100%;
    background-size: cover;
  background-repeat: no-repeat;
}
.arabic-version .Testimonials-card-header {
    background: 
     linear-gradient(180deg, #002E61 0%, #2F5681 112.57%),
        url(../Assets/Img/testimonials-background-ar.png);
}
.Testimonials-card-header picture{
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: white;
    margin-top: 27px;
}
.Testimonials-card img{
    width: 80%;
    object-fit: contain;
    flex-grow: 0;
}
.Testimonials-card-body{
    
    position: relative;
    padding: 1rem;
    padding-top: 100px;
}
.Testimonials-card-body p{
    text-align: center;
    color: #333333;
    line-height: 1.7rem;
    font-family: Cairo-SemiBold;
}
.Testimonials-card-body picture{
    position: absolute;
    top: 25px;
    height: 140px;
    width: 140px;
}
.arabic-version .Testimonials-card-body picture{
transform: scaleX(-1);
}

.Testimonials-card-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(0, 46, 97, 0.06);
    justify-self:flex-end;
    }
    @media (max-width:1400px){
        .Testimonials-card-footer{
    justify-content: start;
    min-height: 95px;

    }
   
}
.Testimonials-card-footer h3 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 1rem;
    font-family: "Cairo-bold";
}
.arabic-version .Testimonials-card-footer h3 {
    font-size: 0.9rem;
}
.Testimonials-card-footer h4 {
    
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.4rem;
}
.arabic-version .Testimonials-card-footer h4 {
    font-size: 0.8rem;
}
@media (max-width:990px) {
    .Testimonials-cards-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:767px) {
    .Testimonials-cards-container{
        grid-template-columns: 1fr ;
    }
}