#WhatIsLeasing .page-header {
  background-image: url(../Assets/Headers/annual.png);
}
.whatIsLeasing-container {
  padding-bottom: 2rem;
}
.whatIsLeasing-container img {
  width: 100%;
}
.whatIsLeasing-container .row:nth-child(even) {
  flex-direction: row-reverse;
}

.whatIsLeasing-container ul {
  list-style: none;
  padding-inline-start: 2rem;
}

.whatIsLeasing-container ul li {
  position: relative;
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
  font-family: "Cairo-SemiBold";
  color: #000000;
}
.whatIsLeasing-container ul li::after {
  background: var(--main-color);
  font-size: 1.4rem;
  width: 0.65rem;
  height: 0.65rem;
  content: "";
  inset-inline-start: -1.25rem;
  top: 0.35rem;
  border-radius: 100%;
  position: absolute;
}
.whatIsLeasing-container h2 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}

.WhatIsLeasing-1st-slide {
  display: flex !important;
  flex-direction: column;
  justify-content: start;
  height: auto;
  align-items: center;
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
  gap: 30px;
}
.whatIsLeasing-icon {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.WhatIsLeasing-1st-slide p {
  text-align: center;
  font-family: Cairo-SemiBold;
  color: #000000;
}
.WhatIsLeasing-2nd-slider-section h2 {
  font-family: Cairo-Bold;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 3rem;
}
.WhatIsLeasing-1st-slide img,
.WhatIsLeasing-1st-slide svg {
  width: 70px;
  height: 70px;
  fill: var(--main-color);
}
.WhatIsLeasing-1st-slider-section {
  background-color: rgba(0, 46, 97, 0.05);
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow-x: hidden;
}
.WhatIsLeasing-1st-slider-section .slick-track {
  display: flex;
  gap: 20px;
}
.WhatIsLeasing-1st-slider-section .slick-dots {
  bottom: -60px;
}
.WhatIsLeasing-1st-slider-section .slick-dots li button:before {
  color: var(--main-color);
  font-size: 15px;
}
.WhatIsLeasing-2nd-slider-section .slick-track {
  display: flex;
  gap: 20px;
}
.WhatIsLeasing-2nd-slider-section .slick-dots {
  bottom: -60px;
}
.WhatIsLeasing-2nd-slider-section .slick-dots li button:before {
  color: var(--main-color);
  font-size: 15px;
}

.WhatIsLeasing-2nd-slider-section .WhatIsLeasing-1st-slide {
  border: 1px solid rgba(0, 46, 97, 0.25);
}
.WhatIsLeasing-2nd-slider-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.individuals-slider-container .slick-dots li button::before {
  color: #002e614d;
}
.individuals-slider-container .slick-dots {
gap: 0;
}

.WhatIsLeasing-1st-slider-section h3 {
  font-size: 1.6rem;
}
.slick-dots li.slick-active button:before{
  opacity: 1 !important;
}
.arabic-version .WhatIsLeasing-1st-slider-section h3{
  font-family: Cairo-Bold;
  letter-spacing: -1px;

}
.arabic-version .about-our-services-section h3{
  font-family: Cairo-Bold;
  letter-spacing: -1px;

}
.arabic-version .custom-panel .nav-link{
  font-family: Cairo-SemiBold;
  letter-spacing: -0.1px;

}
.arabic-version .individuals-slide .individuals-slide--content a {
  width: 184px;
}